input/*
output/*
doc/*
2DGSPipe/reconstruction/2d-gaussian-splatting/*
2DGSPipe/registration/align
2DGSPipe/registration/assets
2DGSPipe/registration/eyelid_detector
2DGSPipe/registration/face_alignment
2DGSPipe/registration/face_detection
2DGSPipe/registration/pretrained
2DGSPipe/registration/utils
2DGSPipe/registration/wrap
2DGSPipe/matting/model

# Python 缓存与临时文件
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook 检查点
.ipynb_checkpoints/

# VSCode 配置
.vscode/
