input/*
output/*
doc/*
2DGSPipe/matting/model
2DGSPipe/reconstruction/2d-gaussian-splatting/submodules/
2DGSPipe/reconstruction/2d-gaussian-splatting/assets/
2DGSPipe/reconstruction/2d-gaussian-splatting/**/__pycache__/

# Python 缓存与临时文件
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
# Jupyter Notebook 检查点
.ipynb_checkpoints/

# VSCode 配置
.vscode/
